<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readme</title>
</head>
<body>
hello! Lenny the chatbot here <br>
<br>
ok you might think who is he? let me introduce myself properly.<br>
<br>
Hey! I am Lenny the chatbot, your friendly neighbourhood chatbot. I am a fun robot to talk to.<br>
I am built using NLTK, TensorFlow, and Flask.<br>
<br>
how to talk to me:<br>
1. Open folder and make sure you have all the requirements installed.<br>
2. open endpoint.py and run it.<br>
3. go to localhost:5000, you will find the instructions over here incase you forget what to do<br>
4. go to localhost:5000/bot to start talking to me.<br>
<br>
what all can i do:<br>
1. I can talk to you <br>
2. ask me whats the news<br>
3. ask me to tell a joke<br>
PS. get to know me by asking questions<br>
<br>
Developers note: Lenny is a chatbot that works using intent classification to understand what you are saying and tries to respond accordingly.<br>
<br>
</body>
</html>